In [1]:
from bs4 import BeautifulSoup as bs
from splinter.exceptions import ElementDoesNotExist
from splinter import Browser
import pandas as pd
import os
import time
from webdriver_manager.chrome import ChromeDriverManager

In [5]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/igr/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [6]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)
# import time
time.sleep(5)

#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [7]:
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [8]:
# save the most recent article, title
news_title  = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_p}")

Title: Mars Now
Para: The Red Planet rotorcraft headed south in support of furthering research into the potential use of aerial scouts on Mars in the future.

In [9]:
# Open browser to JPL Featured Image
# URL of page to be scraped
url="https://www.jpl.nasa.gov/images?search=&category=Mars"

# Retrieve the page
browser.visit(url)

# Wait 3 seconds to load the page
time.sleep(3)

In [10]:
browser.links.find_by_partial_text('Image').click()

# Wait 3 seconds to load the page
time.sleep(3)

In [11]:
html = browser.html
soup = bs(html, 'html.parser')
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
featured_image_url = soup.find('img', class_="BaseImage")['src']
print(f"featured_image_url: {featured_image_url}")

featured_image_url: https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24648.width-1024.jpg

In [12]:
# target url
url="https://space-facts.com/mars/"

In [13]:
# pandas read the tables from a website to a list
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
# use the first table, change column names
df=tables[0]
mars_facts_table_df=df.rename(columns={0: "Characteristic", 1: "Value"})
mars_facts_table_df

         Characteristic                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
# convert to html
mars_facts_table_df.to_html("mars_facts_table.html",index=False)
html_table=mars_facts_table_df.to_html()
html_table.replace('\n','')
html_table.replace('text-align: right;','text-align: left;')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: left;">\n      <th></th>\n      <th>Characteristic</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
# add table content into a list of dictionaries
mars_facts_table=mars_facts_table_df.to_dict('records')
mars_facts_table

[{'Characteristic': 'Equatorial Diameter:', 'Value': '6,792 km'},
 {'Characteristic': 'Polar Diameter:', 'Value': '6,752 km'},
 {'Characteristic': 'Mass:', 'Value': '6.39 × 10^23 kg (0.11 Earths)'},
 {'Characteristic': 'Moons:', 'Value': '2 (Phobos & Deimos)'},
 {'Characteristic': 'Orbit Distance:', 'Value': '227,943,824 km (1.38 AU)'},
 {'Characteristic': 'Orbit Period:', 'Value': '687 days (1.9 years)'},
 {'Characteristic': 'Surface Temperature:', 'Value': '-87 to -5 °C'},
 {'Characteristic': 'First Record:', 'Value': '2nd millennium BC'},
 {'Characteristic': 'Recorded By:', 'Value': 'Egyptian astronomers'}]

In [17]:
# Visit the USGS Astrogeology Science Center Site
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [18]:
hemisphere_image_urls = []

# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image Anchor Tag & Extract <href>
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()

/opt/anaconda3/lib/python3.8/site-packages/splinter/driver/webdriver/__init__.py:498: FutureWarning: browser.find_link_by_text is deprecated. Use browser.links.find_by_text instead.
  warnings.warn(

In [19]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]